import /init.recovery.qcom_decrypt.rc

on fs
    wait /dev/block/platform/soc/${ro.boot.bootdevice}
    symlink /dev/block/platform/soc/${ro.boot.bootdevice} /dev/block/bootdevice

on init
    setprop ro.build.system_root_image true
    export ANDROID_ROOT /system_root
    setprop ro.board.platform msm8937
