import /init.recovery.qcom_decrypt.rc

service set-device-props /system/bin/set-device-props.sh
    user root
    group root
    disabled
    oneshot
    seclabel u:r:recovery:s0

on fs
    wait /dev/block/platform/soc/${ro.boot.bootdevice}
    symlink /dev/block/platform/soc/${ro.boot.bootdevice} /dev/block/bootdevice

    export TERMINFO /system/etc/terminfo
    export TERM bg1.25

on init
    setprop ro.build.system_root_image true
    export ANDROID_ROOT /system_root
    setprop ro.board.platform msm8937

on boot
    start set-device-props

    # Always start keymaster to silence logspam
    mkdir /dsp
    mkdir /firmware
    mount ext4 /dev/block/bootdevice/by-name/dsp /dsp ro
    mount vfat /dev/block/bootdevice/by-name/modem /firmware ro
    start qseecomd
    exec u:r:recovery:s0 -- /system/bin/sleep 1s
    start keymaster-3-0
