import /init.recovery.qcom_decrypt.rc

on fs
    wait /dev/block/platform/soc/${ro.boot.bootdevice}
    symlink /dev/block/platform/soc/${ro.boot.bootdevice} /dev/block/bootdevice

    export TERMINFO /system/etc/terminfo
    export TERM bg1.25

on init
    setprop ro.build.system_root_image true
    export ANDROID_ROOT /system_root
    exec u:r:recovery:s0 -- /system/bin/resetprop ro.boot.verifiedbootstate orange
    exec u:r:recovery:s0 -- /system/bin/set-device-props.sh
    # DT2W
    write /proc/sys/dev/xiaomi_msm8937_touchscreen/enable_dt2w 1


on boot
    start health-hal-2-1

    # Always start keymaster to silence logspam
    mkdir /firmware
    wait /dev/block/bootdevice/by-name/modem
    mount vfat /dev/block/bootdevice/by-name/modem /firmware ro
    start qseecomd
    exec u:r:recovery:s0 -- /system/bin/sleep 1s
    start keymaster-3-0
